<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>
        Login Form: 
    </h1>
    <form action="login">
        <table>
            <tr>
                <td>
                    <label>Username: </label>
                </td>
                <td>
                    <input type="text" name="userid" id="Enter the Username">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password: </label>
                </td>
                <td>
                    <input type="password" name="password" id="Enter the Password">
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">
                        Login
                    </button>
                </td>
            </tr>
        </table>
    </form>
    <a href="login">Forgot passowrd?</a><br>
    Don't have an account? Go to <a href="register">register</a>
</body>
</html>