<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reigster</title>
</head>
<body>
    <h1>Registration Form</h1>
    <form action="register_check", method="post">
        <table>
            <tr>
                <td>
                    <label>Username: </label>
                </td>
                <td>
                    <input type="text" name="userid" id="Enter a username">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Email: </label>
                </td>
                <td>
                    <input type="email" name="email" id="Enter an email">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password: </label>
                </td>
                <td>
                    <input type="password" name="password" id="Enter a password">
                </td>
            </tr>
            <tr>
               <td>
                <button type="submit">
                    Register
                </button>
               </td> 
            </tr>
        </table>
    </form>
    Already have an account? go to <a href="login">login</a>
</body>
</html>